body {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-image: url(../IMG/ai-generated-8266786_1920.png)
}


.nav {
    background-color: #556b2fe8;
    width: 100%;
    top: 0;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: white;
    display: block;
    padding: 14px 30px;
}


.nav2 {
    background-color: white;
    width: 100%;
    top: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
}



/* DROP DOWN */

.dropbtn {
    background-color: aqua;
    color: red;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: blueviolet;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2) ;
z-index: 1;
}

.dropdown-content a {
float: none;
color:black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {
background-color: #ddd;

    }

.dropdown:hover .dropdown-content {
    display: block;
}



